//可以导出变量，比如导出一个类名，就不用再js中声明了
.wrap {
     :global {
        //不想解析的###类名###，放在:global里
        div {
            p {
                color: red;
            }
        }
        .example-enter {
            color: red;
            opacity: 0.01;
        }
        .example-enter-active {
            color: green;
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
        .example-leave {
            opacity: 1;
            color: green;
        }
        .example-leave.example-leave-active {
            color: red;
            opacity: 0.01;
            transition: opacity 500ms ease-in;
        }
    }
}