//可以导出变量，比如导出一个类名，就不用再js中声明了
.wrap {
     :global {
        //不想解析的###类名###，放在:global里
        .example-enter {
            opacity: 0.01;
        }
        .example-enter.example-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
        .example-leave {
            opacity: 1;
        }
        .example-leave.example-leave-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }
    }
}